<!DOCTYPE html><html lang="zh-cn"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>当前模版使用说明</title>
</head>
<body>

<style>
.xnx3_useExplain_ul{
	list-style-type: decimal;
}
</style>
<ul class="xnx3_useExplain_ul">
	<li>首页文字，想改哪里，鼠标点击要改的位置直接改即可。图片可以右键调出修改项。除了认识的文字、要改动的图片，其他看不懂的代码不要乱动。改完后记得点击上方的“保存”</li>
	<li>顶部导航栏，想改名字，可以找到左侧的“栏目管理”，便可改动导航栏(栏目)的名字，改动栏目时，不懂的地方不要改动。</li>
	<li>公司介绍、新闻咨询、产品、联系我们等等这些页面的内容，改动可以直接在后台左侧“内容管理”里面进行添加或者修改。</li>
	
	<li>新闻动态、校园环境这种图文信息，上传的图片请保证宽高一样，即正方形图片，图片的宽高的大小可以随意，一定要保证图片是正方形的，不然界面会错位，很丑！</li>
	
	<li>改动东西之后，比如上传文章了、首页更改图片了，要记得点击后台左侧的“生成整站”按钮，才会重新更新网站，不然网站里看的是不变的。</li>
</ul>

</body></html>