<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- 注解 -->
	<context:component-scan base-package="com.xnx3">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<!-- 配置数据源 -->
	<context:property-placeholder location="classpath:db.properties" />
	
	<!-- 事务注解扫描相关，再Dao类的上方加@Transactional，便可以自动提交事务 -->
	<context:annotation-config />
	<context:component-scan base-package="com.xnx3.j2ee.dao" />
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 配置DataSource -->
	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource" destroy-method="close">
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.passowrd}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		
		<!-- 初始化时获取连接数，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
		<property name="initialPoolSize" value="2"></property>  
		<!-- 连接池中保留的最小连接数，默认为：3 -->
	    <property name="minPoolSize" value="2"></property>  
	    <!-- 连接池中保留的最大连接数。默认值: 15 -->
	    <property name="maxPoolSize" value="20"></property> 
	    <!-- 最大空闲时间，多少秒内未使用则连接被丢弃。若为0则永不丢弃。默认值: 0 --> 
	    <property name="maxIdleTime" value="60"></property>  
	    <!-- 每隔多少秒检查所有连接池中的空闲连接。Default: 0  -->
		<property name="idleConnectionTestPeriod" value="60"></property>
	</bean>

	
	<!-- 配置SessionFactory -->
	<bean class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		id="sessionFactory">
		<!-- 配置数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 扫描的实体包(pojo) -->
		<property name="namingStrategy">
			<bean class="org.hibernate.cfg.ImprovedNamingStrategy"></bean>
		</property>
		<property name="packagesToScan">
            <list>
                <!-- 可以加多个包 -->
                <value>com.xnx3.im.entity</value>
                <value>com.xnx3.j2ee.entity</value>
				<value>com.xnx3.admin.entity</value>
				<value>com.xnx3.superadmin.entity</value>
            </list>
        </property>

		<!-- 配置Hibernate 的常用属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 数据库的方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="connection.autocommit">true</prop>
				<prop key="hibernate.autoReconnect">true</prop>
			</props>
		</property>
	</bean>

	<!-- 配置Hibernate 的事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
      <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
    <!-- 支持上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
    	<property name="defaultEncoding" value="UTF-8"></property>
    	<!-- 上传文件限制的最大尺寸，10M，上传后会自动进行压缩图片 -->
    	<property name="maxUploadSize" value="10240000"></property>
    </bean>
    
	<bean id="MessageDAO" class="com.xnx3.j2ee.dao.MessageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="PermissionDAO" class="com.xnx3.j2ee.dao.PermissionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SqlDAO" class="com.xnx3.j2ee.dao.SqlDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Spring -->
	<bean id="userService" class="com.xnx3.j2ee.service.impl.UserServiceImpl">
		<property name="sqlDAO"><ref bean="SqlDAO" /></property>
	</bean>
	<bean id="smsLogService" class="com.xnx3.j2ee.service.impl.SmsLogServiceImpl">
		<property name="sqlDAO"><ref bean="SqlDAO" /></property>
	</bean>
	<bean id="roleService" class="com.xnx3.j2ee.service.impl.RoleServiceImpl">
		<property name="sqlDAO"><ref bean="SqlDAO" /></property>
	</bean>
	<bean id="postService" class="com.xnx3.j2ee.service.impl.PostServiceImpl">
		<property name="sqlDAO"><ref bean="SqlDAO" /></property>
	</bean>
	<bean id="messageService" class="com.xnx3.j2ee.service.impl.MessageServiceImpl">
		<property name="messageDao"><ref bean="MessageDAO" /></property>
		<property name="sqlDAO"><ref bean="SqlDAO" /></property>
	</bean>
	<bean id="sqlService" class="com.xnx3.j2ee.service.impl.SqlServiceImpl">
		<property name="sqlDAO"><ref bean="SqlDAO" /></property>
	</bean>
	<bean id="collectService" class="com.xnx3.j2ee.service.impl.CollectServiceImpl">
		<property name="sqlDAO"><ref bean="SqlDAO" /></property>
	</bean>
</beans>