/** 网站管理后台，内容管理中，内容中的栏目菜单所用样式 **/

.body{
	margin: 0;padding: 0px;height: 100%;overflow: hidden;
}
.menu{
	width:160px;
	height:100%;
	background-color: #EAEDF1;
	position: absolute;
}

/* 左侧栏目列表的文字 */
.layui-nav-tree .layui-nav-item a{
	color:#333;
}

/*鼠标移动到某项后的样式*/
.layui-nav-tree .layui-nav-item a:hover:HOVER{
	background-color: #f4f6f8;
	color:#222;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
	background-color: #f4f6f8;
	color:#222;
}

/*子栏目*/
.layui-nav-tree .layui-nav-item dl dd a{
	padding-left:35px;
}

.dltitle{
	background-color: #EAEDF1;
}

.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
    background-color: #EAEDF1!important;
    color: #222!important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th{
	line-height: 2.2;
	text-align:center;
}

.layui-nav-child dd{
	background-color: #EAEDF1;
}

.layui-nav .layui-nav-item .layui-nav-more{
	border-top-color: rgba(64, 34, 34, 0.7);
}
/*有二级栏目的，二级栏目伸缩的时候，右侧的小尖头的颜色*/
.layui-nav .layui-nav-itemed .layui-nav-more{
	border-top-color: rgba(64, 34, 34, 0);
	border-color: transparent transparent #a42828;
}
    